<script type="text/javascript" src="js/imglightbox.min.js"></script>
<center>
{{#each imagenes}}
<div class="mid-img">
	<img src="data:image/png;base64,{{img}}" alt="" width="100%" class="libox" >
</div>
{{/each}}
</center>


<script>
   hide_ajax();
</script>