<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <name>Ur Garden</name>
    <description>
        Aplicación de la tienda en linea www.urgarden.com.mx la primer tienda de Jardinería en linea México.
    </description>
    <author email="jardarubydv@gmail.com" href="http://cordova.io">
        JARDA
    </author>
    <icon src="www/res/icon/ios/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://google.com" />
    <access origin="http://www.urgarden.com.mx" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon.png" width="40" />
        <icon height="48" platform="ios" src="www/res/icon/ios/icon.png" width="48" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon.png" width="60" />
        <icon height="64" platform="ios" src="www/res/icon/ios/icon.png" width="64" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon.png" width="152" />
        <icon height="320" platform="ios" src="www/res/icon/ios/icon.png" width="320" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon.png" width="87" />


    </platform>

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
</widget>
